{% extends 'admin/base.html' %}

{% block title %}RSVP Admin{% endblock title %}

{% block inline_css %}
    <style type="text/css">
        table.table tr td {
            vertical-align: middle;
        }
    </style>
{% endblock inline_css %}

{% block contents %}
    <div id="invites">
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Adults:&nbsp;</strong>
                <span data-stats="adults"></span>
            </div>
            <div class="col-md-6">
                <strong>Children:&nbsp;</strong>
                <span data-stats="children"></span>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="5" class="text-right">
                    <span class="btn btn-xs btn-default invite-add">Add Invite</span>
                </th>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <th>Attending</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock contents %}

{% block js %}
    {{ super() }}
    <script src="{{ static('admin/js/invites.js') }}?id=1" type="text/javascript"></script>
{% endblock js %}

{% block inline_js %}
    <script type="text/javascript">
        $(function () {
            $('#invites').invites();
        });
    </script>
{% endblock inline_js %}
