{% extends 'admin/base.html' %}

{% block title %}RSVP Admin{% endblock title %}

{% block css %}
    {{ super() }}
    <link href="{{ static('css/loveicon.css') }}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block inline_css %}
    <style type="text/css">
        #id_body {
            height: 200px;
        }
    </style>
{% endblock inline_css %}

{% block contents %}
    <div id="stories">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th colspan="5" class="text-right">
                    <span class="btn btn-xs btn-default story-add">Add Story</span>
                </th>
            </tr>
            <tr>
                <th>Action</th>
                <th>Icon</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock contents %}

{% block js %}
    {{ super() }}
    <script src="{{ static('admin/js/stories.js') }}" type="text/javascript"></script>
{% endblock js %}

{% block inline_js %}
    <script type="text/javascript">
        $(function () {
            $('#stories').stories({
                icons: {{ icons|safe }}
            });
        });
    </script>
{% endblock inline_js %}
