
{#<section id="story" class="story-section section">#}
{#    <div class="container text-center">#}
{#        <div class="row">#}
{#            <div class="story-box col-md-push-5 col-sm-push-0 col-xs-push-0 col-xs-12 col-md-7">#}
{#                <h3 class="title script title-reversed">#}
{#                    <span class="title-deco-left"></span><span class="title-text">Our Story</span><span class="title-deco-right"></span>#}
{#                </h3>#}
{#                <div class="content-container text-left">#}
{#                    <div id="story-carousel" class="story-carousel carousel slide" data-ride="carousel">#}
{#                        <ol class="carousel-indicators">#}
{#                            <li data-target="#story-carousel" data-slide-to="0" class="active"></li>#}
{#                            <li data-target="#story-carousel" data-slide-to="1"></li>#}
{#                            <li data-target="#story-carousel" data-slide-to="2"></li>#}
{#                        </ol>#}
{#                        <!-- Wrapper for slides -->#}
{#                        <div class="carousel-inner" role="listbox">#}
{#                            <div class="item active">#}
{#                                <h4 class="item-title text-center"><span class="icon-couple love-icon"></span>How we met#}
{#                                </h4>#}
{#                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>#}
{##}
{#                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>#}
{##}
{#                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>#}
{#                            </div><!--//item-->#}
{#                            <div class="item">#}
{#                                <h4 class="item-title text-center">#}
{#                                    <span class="icon-jar love-icon"></span>Three years on</h4>#}
{#                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>#}
{##}
{#                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>#}
{##}
{#                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>#}
{##}
{#                            </div><!--//item-->#}
{#                            <div class="item">#}
{#                                <h4 class="item-title text-center">#}
{#                                    <span class="icon-glasses love-icon"></span>The proposal</h4>#}
{#                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>#}
{##}
{#                                <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>#}
{##}
{#                                <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>#}
{##}
{#                            </div><!--//item-->#}
{#                        </div><!--//carousel-inner-->#}
{##}
{#                    </div><!--//story-carousel-->#}
{#                </div>#}
{#            </div><!--//story-box-->#}
{#        </div><!--//row-->#}
{#    </div><!--//container-->#}
{#</section><!--//story-section-->#}
