{% with stories=site.stories.all() %}
    <section id="story" class="story-section section">
        <div class="container">
            <div class="row">
                <h3 class="title script text-center">
                    <span class="title-deco-left"></span>
                    <span class="title-text">Our Story</span>
                    <span class="title-deco-right"></span>
                </h3>
            </div>
        </div>
        <div class="container-fluid">
            {% for story in stories %}
                <div class="row bg{{ loop.index }}">
                    <div class="container">
                        <div class="row">
                            <div class="story-box col-md-push-5 col-sm-push-0 col-xs-push-0 col-xs-12 col-md-7">
                                <div class="content-container text-left">
                                    {% with icon=story.icon %}
                                        <div class="item">
                                            <h4 class="item-title text-center">
                                                <span class="{{ icon.font_family }} {{ icon.font_class }}"></span>
                                                <span>{{ story.title }}</span>
                                            </h4>
                                            {{ story.body|linebreaks }}
                                        </div>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endwith %}
