{% set id=guest.get('id')|default(guest.cid) %}
<li class="row" id="guest_{{ id }}">
    <input type="hidden" name="id_{{ id }}" value="{{ id }}" />
    <div class="col-md-12">
        <div class="input-group" style="margin-bottom:3px;">
            <span class="input-group-addon">
                <div class="checkbox">
                    <input name="is_attending_{{ id }}" class="styled" type="checkbox"{% if guest.get('is_attending') %} checked="checked"{% endif %} />
                    <label></label>
                </div>
            </span>
            <input type="text" class="form-control" name="name_{{ id }}" value="{{ guest.get('name') }}" placeholder="Name" style="width:70%" />
            <select class="form-control" name="type_{{ id }}" style="width:30%;">
                <option value="adult"{% if guest.get('type') == 'adult' %} selected="selected"{% endif %}>Adult</option>
                <option value="child"{% if guest.get('type') == 'child' %} selected="selected"{% endif %}>Child</option>
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger remove-guest" data-id="{{ id }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </span>
        </div>
    </div>
</li>
